@media screen and (min-width: 320px ) {
  .hidden_mobile {
    display: none;
  }
  .hide {
    display: none;
  }
  .hidden_tablet {
    display: none;
  }
  .hidden_td{
    display: block;
  }
  .hidden_mobile-flex {
    display: none;
  }
  .toggle__menu {
    transform: translateY(-340px);
  }
  .main-nav__wrapper-open{
    height:0;
  }
}
@media screen and (min-width: 768px ) {
  .hidden_mobile {
    display: block;
  }
  .hide {
    display: none;
  }
  .hidden_mobile-flex {
    display: flex;
  }
  .hidden_td{
    display: none;
  }
}
@media screen and (min-width: 1024px ) {
  .hidden_tablet {
    display: block;
  }
  .hidden_td{
    display: none;
  }
}