
@mixin wrapper {
  width:280px;
  margin:0 auto;

  @media screen and (min-width:660px) {
    width: 640px;
    margin:0 auto;
  }
  @media screen and (min-width:1024px) {
    width:940px;
    margin:0 auto;
  }
}
