@font-face {
    font-family: "ops";
    src: url("../fonts/opensans.woff") format("woff"),
}
@font-face {
    font-family: "opsbold";
    src: url("../fonts/opensansbold.woff") format("woff"),
}
@font-face {
    font-family: "opslight";
    src: url("../fonts/opensanslight.woff") format("woff"),
}
$pinkcolor: #d22857;
$deepblue: #293646;
