@font-face {
  font-family: "ops";
  src: url("../fonts/opensans.woff") format("woff");
  src: url("../fonts/opensans.woff2") format("woff2");
}
@font-face {
  font-family: "opsbold";
  src: url("../fonts/opensansbold.woff") format("woff");
  src: url("../fonts/opensansbold.woff2") format("woff2");
}
@font-face {
  font-family: "opslight";
  src: url("../fonts/opensanslight.woff") format("woff");
  src: url("../fonts/opensanslight.woff2") format("woff2");
}
$pinkcolor: #d22857;
$deepblue: #293646;
