.benefit {
  padding: 20px 0 0 0;
  //padding-bottom: 315px;
  text-align: center;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: center  top;
  background-repeat: no-repeat;
}
.benefit__wrapper {
  padding-top:40px;
  width: 320px;
  margin: 0 auto;
}
.benefit__title {
  display: none;
}
.benefit__stroke {
  padding: 10px 0;
  color: #000000;
  font-family: "opsbold";
}
.benefit__article {
  padding: 15px 20px;
  color: $deepblue;
  font-family: "ops";
  font-size: 15px;
}
.benefit__pic {
  padding: 20px 0 0 0;
  height: 280px;
  overflow: hidden;
}
@media screen and (min-width: 768px ) {
  .benefit {
    background-position: left top;
  }
  .benefit__wrapper {
    width: 660px;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 0;
  }
  .benefit__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .benefit__paragraph {
    text-align: left;
    padding-bottom: 20px;
  }
  .benefit__stroke {
    padding: 0 20px;
  }
  .benefit__pic {
    height: 470px;
    width: 260px;
    img{
      width:100%;
      height:a;
    }
  }
}
@media screen and (min-width: 1024px ) {
  .benefit {
    background-position: left -5px top;
    background-size: contain;
  }
  .benefit__wrapper {
    width: 940px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .benefit__paragraph {
    padding-bottom: 20px;
    max-width: 268px;
    text-align: center;
  }
  .benefit__stroke {
    padding: 0 40px;
  }
  .benefit__content {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  .benefit__content-pic {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .benefit__content-pic {
    margin-bottom: 50px;
  }
  .benefit__pic{
    position: relative;
    height: 300px;
    padding:20px 20px 0 20px;
    img{
      width: 180px;
    }
    &:after{
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      min-height: 10px;
      background-color: transparent;
      bottom: -10px;
      left: 0;
      border-radius: 100% 100%;
      -webkit-box-shadow: #cccccc 0px 0px 0px 0px;
      box-shadow: #000 0px 17px 23px 19px;
    }
  }
}