.effect {
  display:none;
}
@media screen and (min-width: 660px) {
  .effect {
    background-color: #f2f2f2;
    padding: 50px 0;
    display:block;
  }
  .effect__wrapper {
    @include wrapper;
    display: flex;
    flex-direction: row;
    align-items:center;
  }
  .effect__description{
    width: 50%;
    margin-left: auto;
  }
  .effect__title {
    width: 45%;
    color: $deepblue;
    font-family: "opsbold";
    padding: 0 0 20px 0;
  }
  .effect__text {
    color: $deepblue;
    font-family: "opslight";
    padding: 0 0 20px 0;
  }
  .effect__link {
    color: $pinkcolor;
    text-decoration: underline;
    font-family: "opslight";
    &:hover{
      color: $deepblue;
      text-decoration:underline;
    }
    &:active{
      color:lighten($deepblue, 30%);
    }
  }
  .effect__pic{
    font-size: 120px;
    font-family: "opsbold";
    position: relative;
    span{
      position: absolute;
      top: 55%;
      transform: translate(-50%, -50%);
      left: 50%;
      /* transform-origin: 50% 50% 0px; */
      display: block;
      color: #000;
    }
    svg{
      width:235px;
      height:280px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .effect__description{
    width:60%;
  }
  .effect__pic{
    svg{
      width:290px;
    }
  }
}
