.effect {
  display:none;
}
@media screen and (min-width: 660px) {
  .effect {
    padding: 0 0 60px 0;
    display:block;
    background-color:#f2f2f2;
  }
  .effect__wrapper {
    @include wrapper;
    display: flex;
    flex-direction: row;
    align-items:center;
    padding:0 10px;
  }
  .effect__description{
    width: 50%;
    margin-left: auto;
    height:280px;
  }
  .effect__title {
    width: 100%;
    color: $deepblue;
    font-family: $font-base;
    font-weight:700;
    padding: 0;
    margin-top:39px;
    margin-bottom:10px;
    font-size:28px;
    line-height:36px;
    letter-spacing:1px;
  }
  .effect__title-ins{
    display:block;
  }
  .effect__text {
    color: $deepblue;
    font-family: $font-base;
    font-weight:400;
    padding: 0 15px 0px 0;
    margin-top:10px;
    font-size:14px;
    margin-bottom:10px;
  }
  .effect__link {
    color: $pinkcolor;
    text-decoration: underline;
    font-family: $font-base;
    font-weight:300;
    font-size:14px;
    &:hover{
      color: $deepblue;
      text-decoration:underline;
    }
    &:active{
      color:lighten($deepblue, 30%);
    }
  }
  .effect__pic{
    font-size: 95px;
    font-family: $font-base;
    position: relative;
    color:$pinkcolor;
    svg{
      width:235px;
      height:280px;
    }
  }
  .effect__pic-num{
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: block;
    font-family:$font-base;
    font-weight:700;
    color: #000;
  }
}
@media screen and (min-width: 1024px) {
  .effect__description{
    width: 62%;
    padding-left: 8px;
  }
  .effect__wrapper{
    padding:0;
  }
  .effect__title{
    margin-top:62px;
  }
  .effect__title-ins{
    display:inline-block;
  }
  .effect__text{
    margin-top: 22px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
  }
  .effect__pic{
    font-size:125px;
    svg{
      width:298px;
      height:337px;
    }
  }
  .effect__link{
    font-size: 18px;
  }
  .effect__pic{
    svg{
      width:290px;
    }
  }
}
