.effect {
  background-color: #ffffff;
  padding: 50px 0;
}
.effect__wrapper {
  display: flex;
  flex-direction: row;
}
.effect__title {
  width: 45%;
  color: $deepblue;
  font-family: "opsbold";
  padding: 0 0 20px 0;
}
.effect__text {
  color: $deepblue;
  font-family: "opslight";
  padding: 0 0 20px 0;
}
.effect__link {
  color: $pinkcolor;
  text-decoration: underline;
  font-family: "opslight";
}
