.page__footer {
  background-color: rgb(255, 255, 255);
}
.callback {
  background-color: #ffffff;
  padding: 25px 0 12px 0;
  display: flex;
  flex-direction: column;
}
.location {
  background-image: url('../img/bg-map-mobile@1x.png');
}
.location__map{
  margin-top:30px;
}
.footer__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
}
.callback__wrapper{
  @include wrapper;
}
.location__title {
  display: none;
  font-size: 18px;
}
.callback__row {
  margin: 20px 0;
  padding: 0 20px;

}
.callback__title {
  font-size: 24px;
  line-height:27px;
  font-family: $font-base;
  font-weight:300;
  color: #283645;
}
.callback__subtitle {
  color: #283645;
  font-family: $font-base;
  font-size: 18px;
  padding-bottom: 5px;
  font-weight:700;
  margin:0;
}
.callback__link {
  color: $pinkcolor;
  font-family: $font-base;
  font-size: 24px;
  font-weight:300;
  text-decoration:none;
}
.callback__row--wright{
  .callback__link{
    &:hover{
      color:$deepblue;
      text-decoration:underline;
    }
    &:active{
      color:rgba(210, 40, 87, 0.3);
    }
  }
}
.callback__row--phone{
  a{
    &:hover{
      color: $pinkcolor;
    }
  }
}
.callback__adress {
  color: $pinkcolor;
  font-family: $font-base;
  font-weight:300;
  font-style:normal;
  font-size: 24px;
  line-height: 30px;
}
.logotype {
  margin-bottom: 35px;
}
.developer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:25px;
}
.developer__title {
  color: rgb(0, 0, 0);
  font-family: $font-base;
  font-size:14px;
  margin-right:-5px;
  font-weight:400;
}
.networks__list {
  padding:0;
  margin:0 auto;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
.networks__linkicon{
  display:inline-block;
  vertical-align:middle;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill:$pinkcolor;
}
.networks__link{
  display:inline-block;
  vertical-align:middle;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid rgb(233,235,236);
  border-radius: 50%;
  position:relative;
  &:hover{
    border-color: $deepblue;
  }
  &:active{
    border-color:rgba(41, 54, 70, 0.3);
    .networks__linkicon{
      fill:rgba(210, 40, 87, 0.3);
    }
  }
}
.callback__row--phone {
  margin-top: 35px;
}
.location__wrapper{
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logotype__link {
  display:block;
  text-decoration:none;
  cursor:pointer;
}
.developer__hmtl{
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  fill: $pinkcolor;
  &:hover{
    fill: $deepblue;
  }
  &:active{
    fill: rgba(41, 54, 70, 0.3);
  }
}
.page--main{
  .links{
    display:none;
  }
}
.links{
  padding: 80px 0;
  padding: 43px 0;
  @include wrapper;
}
.page__footer--not-index{
  .callback,.location{
    display:none;
  }
}
@media screen and (min-width: 660px) {
  .footer__wrapper {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .callback{
    padding:26px 0 5px 0;
  }
  .logotype {
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .location {
    width: 100%;
    background-image:url("../img/bg-map-tablet@1x.jpg");
    background-size:cover;
  }
  .location__wrapper {
    min-height: 375px;
  }
  .links {
    padding: 43px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  .callback__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .callback__row--phone,.callback__row--wright {
    width:40%;
  }
  .callback__link{
    font-size:24px;
  }
  .callback__row--adress{
    margin-top:25px;
  }
  .callback__adress {
    width:65%;
    margin:auto;
  }
  .callback__title{
    margin-bottom:7px;
    font-size:36px;
    letter-spacing:2px;
    padding:0 70px;
    line-height:48px;
  }
  .callback__row{
    padding:0;
  }
  .location__map{
    margin-top:45px;
  }
  .page--main{
    .links{
      display:flex;
    }
  }
  .developer__hmtl{
    margin-top:15px;
    display:inline-block;
    vertical-align:middle;
  }
  .developer__title{
    font-size:14px;
    display:inline-block;
    margin-right:13px;
  }
  .networks__item{
    margin-right:7px;
  }
  .developer{
    margin-top:4px;
  }
}
@media screen and (min-width: 1024px) {
  .callback__title {
    font-size: 50px;
    padding: 0px 120px;
    line-height: 58px;
  }
  .location__wrapper{
    min-height: 500px;
  }
  .callback__subtitle {
    font-size: 18px;
  }
  .callback__wrapper {
    width: 940px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .callback__row {
    width: 270px;
  }
  .callback__row--phone {
    margin-top:50px;
    order: 1;
  }
  .callback__row--wright {
    order: 3;
  }
  .callback__row--adress {
    order: 2;
  }
  .location {
    background-image:url("../img/bg-map-desktop@1x.jpg");
  }
  .callback__link{
    font-size:26px;
  }
  .callback__adress{
    width:100%;
  }
  .footer__item callback{
    padding:25px 0 0 0;
  }
  .location__map{
    margin-top:105px;
  }
  .logotype{
    margin-bottom: 0px;
    margin-left:0;
  }
  .networks__list{
    justify-content: space-around;
  }
  .networks__item{
    margin-right: -10px;
    margin-top: 10px;
  }
  .developer{
    margin-top: 9px;
  }
  .developer__title{
    margin-right: -9px;
    letter-spacing: 2px;
  }
}
