.page__footer {
  background-color: rgb(255, 255, 255);
}
.callback {
  background-color: #ffffff;
  padding: 45px 0 0 0;
}
.location {
  background-image: url('../img/bg-map-mobile@1x.png');
}
.footer__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
}
.callback {
  display: flex;
  flex-direction: column;
}
.location__title {
  display: none;
  font-size: 18px;
}
.callback__row {
  margin: 20px 0;
  padding: 0 20px;

}
.callback__title {
  font-size: 24px;
  font-family: "opslight";
  color: #283645;
}
.callback__subtitle {
  color: #283645;
  font-family: "opsbold";
  font-size: 18px;
  padding-bottom: 10px;
}
.callback__link {
  color: $pinkcolor;
  font-family: "opslight";
  font-size: 24px;
}
.row__wright{
  .callback__link{
    &:hover{
      color:$deepblue;
      text-decoration:underline;
    }
    &:active{
      color:lighten($deepblue, 30%);
    }
  }
}
.row__phone{
  a{
    &:hover{
      color: $pinkcolor;
    }
  }
}
.callback__adress {
  color: $pinkcolor;
  font-family: "opslight";
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
}
.logotype {
  margin-bottom: 30px;
}
.developer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.developer__title {
  color: rgb(0, 0, 0);
  font-family: "ops";
}
.networks__list {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin: auto auto 30px;
}
.networks__linkicon{
  display:inline-block;
  vertical-align:middle;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill:$pinkcolor;
}
.networks__link{
  display:inline-block;
  vertical-align:middle;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid rgb(233,235,236);
  border-radius: 50%;
  position:relative;
  &:hover{
    border-color: $deepblue;
  }
  &:active{
    border-color:lighten(#e8ebed, 5%);
    .networks__linkicon{
      fill: lighten($pinkcolor, 15%);
    }
  }
}
.row__phone {
  margin-top: 40px;
}
.location__wrapper{
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logotype_link {
  display:block;
  text-decoration:none;
  cursor:pointer;
}
.developer_hmtl{
  fill: $pinkcolor;
  &:hover{
    fill: $deepblue;
  }
  &:active{
    fill: lighten($deepblue, 30%)
  }
}
@media screen and (min-width: 660px) {
  .footer__wrapper {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: column;
    //align-items: end;
  }
  .logotype {
    margin-bottom: 0;
  }
  .location {
    width: 100%;
    background-image:url("../img/bg-map-tablet@1x.jpg");
    background-size:cover;
  }
  .location__wrapper {
    min-height: 380px;
  }
  .links {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  .networks__list {
    margin-bottom: 0;
  }
  .callback__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .row__phone,.row__wright {
    width:40%;
  }
  .callback__adress {
    width:65%;
    margin:auto;
  }
}
@media screen and (min-width: 1024px) {
  .callback__title {
    font-size: 50px;
    //width: 100%;
    padding: 25px 20%;
    line-height: 55px;
  }
  .location__wrapper{
    min-height: 500px;
  }
  .callback__subtitle {
    font-size: 18px;
  }
  .callback__wrapper {
    width: 940px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .callback__row {
    width: 270px;
  }
  .row__phone {
    order: 1;
  }
  .row__wright {
    order: 3;
  }
  .row__adress {
    order: 2;
  }
  .location {
    background-image:url("../img/bg-map-desktop@1x.jpg");
  }
}
