.page__footer {
  background-color: rgb(255, 255, 255);
}
.callback {
  background-color: #ffffff;
  padding: 45px 0 60px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 85%, 50% 95%, 0% 85%, 0% 100%)
}
.location {
  background-image: url('../img/bg-map-mobile@1x.png');
  margin-top: -60px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
}
.callback {
  display: flex;
  flex-direction: column;
}
.location__title {
  display: none;
  font-size: 18px;
}
.callback__row {
  margin: 15px 0;
  padding: 0 20px;

}
.callback__title {
  font-size: 24px;
  font-family: "opslight";
  color: #283645;
}
.callback__subtitle {
  color: #283645;
  font-family: "opsbold";
}
.callback__link {
  color: $pinkcolor;
  font-family: "opslight";
  font-size: 24px;
}
.callback__adress {
  color: $pinkcolor;
  font-family: "opslight";
  font-style: normal;
  font-size: 24px;
}
.logotype {
  margin-bottom: 30px;
}
.developer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.developer__title {
  color: rgb(0, 0, 0);
  font-family: "ops";
}
.networks__list {
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin: auto auto 30px;
}
.networks__item {
  width: 50px;
  height: 50px;
  text-align: center;
  //line-height: 50px;
  border: 2px solid rgb(233,235,236);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row__phone{
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: column;
    //align-items: end;
  }
  .logotype {
    margin-bottom: 0;
  }
  //.callback {
  //  width: 100%;
  //}
  .location {
    width: 100%;
  }
  .links {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  .networks__list {
    margin-bottom: 0;
  }
  .callback__wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .row__phone,.row__wright {
    width:40%;
  }
  .callback__adress{
    width:65%;
    margin:auto;
  }
}
@media screen and (min-width: 1024px) {
  .callback__title {
    font-size: 50px;
    //width: 100%;
    padding: 25px 20%;
    line-height: 55px;

  }
  .callback__subtitle {
    font-size: 18px;
  }
  .callback__wrapper {
    width: 940px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .callback__row {
    width: 270px;
  }
  .row__phone {
    order: 1;
  }
  .row__wright {
    order: 3;
  }
  .row__adress {
    order: 2;
  }
}
