.section__name {
  background: rgb(255, 255, 255);
}
.form__wrapper {
  padding: 40px 0;
  width: 280px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.form__row {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.form__title {
  color: $deepblue;
  text-align: center;
  font-size: 14px;
  font-family: "opslight";
  padding: 20px 5px;
}
.form__block {
  color: $pinkcolor;
  text-transform: uppercase;
  font-family: "ops";
  margin: 15px 0;
}
.form__input {
  padding: 20px;
  border: 2px solid rgb(229,229,229);
  font-family: "opslight";
  font-size: 18px;
}
.actions__wrapper {
  padding: 40px 0;
  width: 280px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.action__title {
  color: $pinkcolor;
  font-size: 14px;
  font-family: "opslight";
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.action__item {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  justify-content: flex-end;
  margin: 30px 0;
}
.action__name,
.device__name {
  font-size: 18px;
  font-family: "ops";
  color: $deepblue;
  margin-left: 25px;
}
.device__wrapper,
.feelings__wrapper,
.send__wrapper,
.contacts__wrapper {
  padding: 40px 0;
  width: 280px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.contacts__title {
  display: none;
}
.device__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.send__form {
  background: rgb(42, 171, 109);
  border: none;
  height: 64px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: "opsbold";
}
.send__text {
  margin-top: 30px;
  text-align: center;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: "opslight";
  span {
    color: $pinkcolor;
  }
}
@media screen and (min-width: 768px) {
  .page__content{
    background: rgb(255, 255, 255);
  }
  .form{
    display: flex;
    flex-direction: column;
  }
  .form__wrapper {
    display: flex;
    flex-direction: column;
    width: 660px;
  }
  .form__title {
    padding: 0 60px;
    font-size: 18px;
  }
  .form__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .form__input {
    flex-grow: 1;
    margin:0 10px;
  }
  ////////// Поступки ////////////////
  .actions__wrapper {
    width: 660px;
    border: 2px solid #e5e5e5;
    padding: 20px;
  }
  .section__name {
    order: 1;
  }
  .section__device {
    order: 2;
  }
  .section__contacts {
    order: 3;
  }
  .section__actions {
    order: 4;
  }
  .section__feelings {
    order: 5;
  }
  .section__actions {
    padding: 40px 0;
  }
  .action__title {
    position: relative;
    top: -32px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin: auto;
  }
  .contacts__title {
    position: relative;
    top: -32px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin: auto;
    display: block;
    color: #d22857;
    font-size: 14px;
    font-family: "opslight";
    text-transform: uppercase;
    text-align: center;
  }
  .contacts__wrapper {
    width: 660px;
    border: 2px solid #e5e5e5;
    padding: 20px;
    display: flex;
  }
  .contacts__row {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .form__block-contact {
    margin: 0 10px;
    color: $pinkcolor;
    text-transform: uppercase;
    font-family: "ops";
    padding:20px 0;
  }
  .form__input {
    flex-grow: 1;
  }
  //////////  ПРИЛОЖЕНИЕ ////////////////
  .section__device {
    padding: 40px 0;
  }
  .device__wrapper {
    width: 660px;
    border: 2px solid #e5e5e5;
    padding: 20px;
    display: flex;
  }
  //////////  ЭМОЦИИ ////////////////
  .section__feelings {
    padding: 40px 0;
  }
  .feelings__wrapper {
    width: 660px;
    border: 2px solid #e5e5e5;
    display: flex;
    padding: 25px 20px;
  }
  .feelings__text {
    //margin: auto;
    width: 70%;
    align-self: center;
    padding: 20px;
    border: 2px solid #e5e5e5;
  }
  .send__wrapper {
    width: 660px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .send__form {
    padding: 0 50px;
  }
}


@media screen and (min-width: 1024px) {
  .page__content{
    background: rgb(255, 255, 255);
  }
  .form {
    width: 940px;
    margin: auto;
    background: rgb(255, 255, 255);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section__contacts,.section__actions,.section__feelings{
    width: 940px;
    display: flex;
  }
  .contacts__wrapper{
    flex-grow: 1;
  }
  .device__wrapper,
  .form__wrapper
  {
    max-width: 430px;
  }
  .section__device{
    display: flex;
  }
  .device__wrapper{
    margin: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .device__list{
    flex-grow: 1;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
  }
  .contacts__wrapper{
    position: relative;
    flex-direction: row;
  }
  .contacts__row{
    flex-grow: 1;
  }
  .contacts__title{
    display:block;
    position:absolute;
    left: 35%;
    width: 300px;
    top: -15px;
  }
  .actions__wrapper{
    width: 940px;
  }
  .action__list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .action__item{
    flex-grow:1;
    min-width: 225px;
  }
  .section__feelings{
    flex-direction: column;
    align-content:stretch;

  }
  .feelings__wrapper{
    flex-grow: 1;
    margin: inherit;
    width: auto;
  }
}
