.header__bg {
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__wrapper {
  width: 100%;
  position: relative;
  transition: all ease 1s;
}
.main-nav__toggle {
  position: absolute;
  background-color: transparent;
  border: none;
  //width: 35px;
  //height: 35px;
  top: 20px;
  right: 15px;
  cursor: pointer;
  z-index: 5;
}
.header__top {
  background: rgba(29, 38, 49, 0.5);
  min-height: 70px;
  z-index: 6;
  width: 100%;
}
.header__logo {
  display: block;
  padding: 20px 0 0 20px;
  z-index: 5;
  left: 0;
  position: absolute;
}

.header__list {
  background: rgb(40, 54, 69);
  border-top: 1px solid #000407;
  box-shadow: #4b565c 1px -1px 1px 0px;
  padding-top:70px;
  transition: all ease 1s;
  li:first-child {
    border-top: 1px solid #000407;
    box-shadow: #4b565c 1px -1px 1px 0px;
  }
}
.header__item {
  text-align: center;
  list-style: none;
  min-height: 65px;
  line-height: 65px;
  border-bottom: 1px solid #000407;
  box-shadow: #4b565c 1px 1px 1px 0px;
}
.header__link {
  text-transform: uppercase;
  font-family: "opsbold";
}
.header__phone-pic {
  height: 400px;
  width: 100%;
  background-image: url('../img/iphone-hand-mobile@1x.png');
  background-position: center bottom;
  background-repeat: no-repeat;
}
.header__title-wrap {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-position: center top -50px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 170px;
  text-align: center;
}
.header__title {
  font-family: "opslight";
  font-size: 24px;
  text-align: center;
  margin: auto;
}
.header__title {
  text-align: center;
  font-family: "opslight";
  font-size: 24px;
  padding: 90px 30px 30px  30px;
}
.main-nav__wrapper {
  width: 100%;
  z-index: 4;
  height: 336px;
  transition: all 1s ease;
}
.header__title h1 {
  font-size: 24px;
  font-family: "opslight";
  padding: 30px 0;
}
.header__bg {
  margin-top: -70px;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    z-index: 2;
  }
  .header__phone-pic {
    height: 420px;
    background-position: right bottom;
    background-size: contain;
    width: inherit;
  }
  .header__bg {
    background-position: center;
    position: relative;
    padding-top: 150px;
    margin-top: -70px;
  }
  .photo {
    .photo__title {
      padding: 70px 0;
    }
  }
  .header__title {
    padding: 0 0 70px 0;
    h1{
      font-size: 50px;
      padding: 0 70px;
      line-height: 55px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .main-nav__toggle {
    display: none;
  }
  .header__bg {
    padding-top: 120px;
    margin-top: -110px;
  }
  .main-nav__wrapper {
    height: auto;
  }
  .header__logo {
    display: inline-block;
    position: relative;
    padding: 0;
  }
  .header__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 110px;
  }
  .header__wrapper {
    background-color: transparent;
    min-height: 70px;
  }
  .main-nav {
    background-color: transparent;
    min-width: 800px;
  }
  .header__list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: transparent;
    padding-top: 0;
    border: none;
    box-shadow: none;
    li:first-child {
      box-shadow: none;
      border: none;
    }
  }
  .header__item {
    background: transparent;
    border: none;
    box-shadow: none;
  }
  .header__phone-pic {
    min-height: 700px;
    background-position: right 20% bottom;
  }
  .header__title {
    width: 940px;
    padding: 0 0 50px 0;
  }
  .header__title h1 {
    font-size: 50px;
    font-family: "opslight";
    padding: 30px 0;
    line-height: 50px;
  }
}
