.header{
  position: relative;
}
.header__bottom{
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-position: center top -67px;
  background-repeat: no-repeat;
  background-color: lighten($deepblue, 15%);
  padding-top:70px;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}
.header__wrapper {
  width: 100%;
  position: relative;
  transition: all ease 1s;
}
.main-nav__toggle {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 20px;
  right: 6px;
  cursor: pointer;
  z-index: 5;
  width: 50px;
  height: 25px;
  .main-nav__toggle-close {
    fill: #ffffff;
    display:none;
  }
  .main-nav__toggle-open {
    display:block;
    fill: #ffffff;
  }
}
.main-nav__toggle-close,.main-nav__toggle-open{
  svg{
    fill: #ffffff;
  }
  &:hover{
    svg{
      fill: $pinkcolor;
    }
  }
  &:active{
    svg{
      fill:rgba(210, 40, 86, 0.5);
    }
  }
}
.main-nav__toggle--open {
  .main-nav__toggle-close {
    fill: #ffffff;
    display:block;
  }
  .main-nav__toggle-open {
    display:none;
    fill: #ffffff;
  }
}
.header__top-wrapper{
  @include wrapper;
}
.header__top-wrapper--nojs{
  width:100%;
  .main-nav{
    .main-nav__wrapper--close{
      .main-nav__list{
        transform: translateY(0);
        position:relative;
      }
    }
    .main-nav__wrapper{
      .main-nav__list{
        transform: translateY(0);
        position:relative;
      }
    }
    .main-nav__toggle{
      .main-nav__toggle-close{
        display:block;
      }
      .main-nav__toggle-open{
        display:none;
      }
    }
  }
}
.header__top {
  background: rgba(29, 38, 49, 0.5);
  min-height: 70px;
  z-index: 6;
  width: 100%;
  position:absolute;
}
.header__logo {
  cursor:pointer;
  position:absolute;
  display:inline-block;
  z-index:10;
  top: 22px;
  left: 20px;
  vertical-align:top;
  &:hover{
    img{opacity:0}
    &:after{
      content:'';
      display:inline-block;
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      z-index:15;
      background-repeat:no-repeat;
      background-position:0 100%;
      background-image:url("../img/logo-pink-white-mobile-hover.svg");
    }
  }
  }
.page-header__logo-image{
  fill: #000;
}
.main-nav__list {
  padding:0;
  margin:0;
  background: rgb(40, 54, 69);
  border-bottom: 1px solid #000407;
  padding-top: 70px;
  transition: all ease 1s;
  position: absolute;
  width: 100%;
  left: 0;
  list-style: none;
  z-index: 4;
  }
.main-nav__item--active{
  .main-nav__link{
    box-shadow: inset #000000 0px 1px 4px -1px;;
  }
}
.main-nav__link {
  text-align: center;
  border-top: 1px solid #000407;
  box-shadow: inset #4b565c 1px 1px 1px 0px;
  line-height: 23px;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  font-family: $font-base;
  padding: 20px 0;
  font-weight: 700;
  transition: all 100ms ease-in;
  text-decoration: none;
  color: #fff;
  &:hover{
    color:$pinkcolor;
  }
  &:active{
    color:rgba(210, 40, 86, 0.5);
  }
}
.header__phone-pic {
  height: 325px;
  width: 100%;
  background-image: url('../img/iphone-hand-mobile@1x.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }
}
.header__title {
  margin:0;
  font-family: $font-base;
  font-weight:400;
  font-size: 24px;
  text-align: center;
}

.main-nav__wrapper {
  width: 100%;
  z-index: 4;
}
.main-nav__wrapper--close {
  .main-nav__list{
  transform: translateY(-360px);
  }
}
.header__bottom-wrapper{
  @include wrapper;
  width:320px;
  position:relative;
}
@media screen and (min-width: 660px) {
  .header__bottom{
    background-image:url("../img/bg-back-tablet@1x.jpg");
    //padding-top:110px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      //background-size:;
    }
  }
  .header__top {
    min-height:110px;
  }
  .main-nav__toggle{
    right:40px;
    top:40px;
  }
  .main-nav__list{
    top:0;
    padding-top:110px;
  }
  .main-nav__wrapper--close .main-nav__list{
    transform: translateY(-380px);
  }
  .header__wrapper {
    z-index: 2;
  }
  .header__phone-pic {
    background-image:url("../img/iphone-hand-tablet@1x.png");
    height: 550px;
    background-position: right -30px bottom;
    background-size: inherit;
    width: inherit;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }
  .photo {
    .photo__title {
      padding: 70px 0;
    }
  }
  .header__logo{
    left:40px;
    img{
      height:40px;
      width:140px;
    }
    &:hover{
      img{
          opacity:0
        }
      &:after{
        content:'';
        display:inline-block;
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        z-index:15;
        background-repeat:no-repeat;
        background-position:0 100;
        background-size:contain;
        background-image:url("../img/logo-pink-white-tablet-pink.svg");
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .header{
    background-image:url("../img/bg-back-desktop@1x.jpg");
    background-repeat:no-repeat;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
  .header__bottom{
    background:none;
  }
  .main-nav__list {
    position: relative;
    width: 650px;
    margin-left: auto;
  }
  .main-nav__toggle {
    display: none;
  }
  .nojs{
    @include wrapper;
  }
  .header__bg {
    padding-top: 200px;
    margin-top: -110px;
  }
  .header__top-wrapper{
    display:flex;
    align-items: center;
  }
  .main-nav__wrapper-open {
    height: auto;
  }
  .header__logo{
    display:flex;
    position:relative;
    padding:0;
    left:0;
    top:-3px;
  }
  .header__top {
    padding:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 110px;
  }
  .header__wrapper {
    background: rgba(29, 38, 49, 0.5);
    min-height: 70px;
  }
  .bg__wrapper {
    width: 940px;
  }
  .main-nav {
    background-color: transparent;
    min-width: 800px;
  }
  .main-nav__list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: transparent;
    padding-top: 0;
    border: none;
    box-shadow: none;
    li:first-child {
      box-shadow: none;
      border: none;
    }
  }
  .main-nav__link{
    box-shadow:none;
    border:none;
    padding:5px 0;
    &:hover{
      color: $pinkcolor;
      &:after{
        background-color: $pinkcolor;
        //width:100%;
      }
    }
    &:active{
        color:rgba(255, 255, 255, 0.5);
    }
    &:after{
      content:"";
      display:block;
      position:relative;
      top:5px;
      width:0;
      height:2px;
      background-color:#ffffff;
      transition:all 100ms ease-in;
    }
  }
  .main-nav__item--active{
    .main-nav__link{
      box-shadow:none;
      &:after{
        width:100%;
      }
    }
  }
  .main-nav__wrapper--close{
    .main-nav__list{
      display: flex;
      transform:translateY(0);
    }
  }
  .main-nav__item {
    background: transparent;
    border: none;
    box-shadow: none;
  }
  .header__phone-pic {
    min-height: 730px;
    background-position: right 20% bottom;
  }
  .nojs{
    .main-nav__wrapper--close{
      .main-nav__list{
        display:flex;
      }
    }
  }
  .header__phone-pic{
    background-image:url("../img/iphone-hand-desktop@1x.png");
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }
}
