.photo {
  background: rgb(255,255,255);
}
.photo__wrapper {
  width: 280px;
  margin: auto;
}
.photo__card {
  position: relative;
  background: rgb(242,242,242);
  margin-bottom: 20px;
  padding-bottom: 30px;
}
.photo__autor {
  width: 260px;
  margin: auto;
  color: $deepblue;
  font-size: 14px;
  font-family: 'opsbold';
}
.photo__img {
  margin-bottom: 15px;
  // background-image: url('/img/img.jpg');
}
.photo__article {
  color: rgb(255,255,255);
  text-transform: uppercase;
  background: $pinkcolor;
  padding: 15px;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 0;
}
.photo__time {
  font-family: 'ops';
}
.photo__comment {
  width: 260px;
  margin: auto;
  font-size: 14px;
  color: $deepblue;
  font-family: 'ops';
}
.photo__like-row {
  width: 260px;
  margin: 10px auto;
}
.photo__like-link {
  background-image: url();
  color: $pinkcolor;
  font-family: 'ops';
  text-transform: uppercase;
  padding-left: 15px;
}
.photo__title {
  padding: 20px;
}
.photo__title-second {
  color: $deepblue;
  text-align: center;
  font-size: 14px;
  font-family:'opslight';
  padding:40px 20px;
}
.photo__wrapper-pan {
  // .photo__autor{
  //   padding: 0 30px;
  // }
  // .photo__comment{
  //   padding: 0 30px;
  // }
  // .photo__like-row{
  //   padding: 0 30px;
  // }
}
@media screen and (min-width: 660px ) {
  .photo__title{
    padding: 0 115px;
  }
  .photo__img{
    img{width: 100%;}
  }
  .photo__wrapper{
    width:660px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
