.photo {
  background: rgb(255, 255, 255);
}
.photo__wrapper {
  @include wrapper;
}
.photo__card {
  position: relative;
  background: rgb(242, 242, 242);
  margin-bottom: 20px;
  padding-bottom: 12px;
}
.photo__autor {
  margin:0;
  color: $deepblue;
  font-size: 14px;
  font-family: $font-base;
  font-weight:700;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 245px;
  min-height: 100px;
  margin: auto;
  padding:17px 0px 0px 0px;
  .photo__like-row {
    margin: 9px 0;
    width: 100%;
    display: flex;
    //flex-direction: row-reverse;
    //justify-content: space-between;
  }
  .photo__comment {
  }
}
.photo__desc {
  background-color: #f2f2f2;
  padding: 15px 18px 10px 18px;
}
.photo__article {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background: $pinkcolor;
  font-family: $font-base;
  font-size:12px;
  font-weight:700;
  padding: 6px 17px;
  letter-spacing:0;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 0;
}
.photo__time {
  font-family: $font-base;
  font-weight:400;
  text-transform:uppercase;
  margin-left:2px;
  font-size:12px;
  color:grey;
}
.photo__comment {
  margin:0;
  font-size: 14px;
  color: $deepblue;
  font-family: $font-base;
  font-weight:400;
}
.photo__like-row{
  margin:10px 0;
}
.photo__like-heart{
  cursor:pointer;
}
.photo__like-link {
  color: $pinkcolor;
  font-family: $font-base;
  font-size:12px;
  display: inline-block;
  vertical-align: top;
  margin-left: 14px;
  font:400;
  text-transform: uppercase;
  &:hover{
    color:$pinkcolor;
  }
}
.photo__title {
  font-size: 14px;
  color: $deepblue;
  line-height:28px;
  margin:0;
  text-align: center;
  padding: 50px 20px;
  font-family:$font-base;
  font-weight:400;
}
.photo__title-second {
  color: $deepblue;
  text-align: center;
  font-size: 14px;
  font-family: $font-base;
  font-weight:300;
  padding-top: 23px;
  line-height:30px;
  padding-bottom: 45px;
  padding-bottom: 45px;
}
.photo__wrapper--pan {
  margin-bottom:20px;
  width:100%;
  .photo__card {
    width:100%;
    background: transparent;
    padding-bottom: 0;
  }
}
.photo__img{
  width:100%;
  height:180px;
  a{
    display:block;
    height:100%;
  }
}
.photo__img--pan{
  height:137px;
  background-color: #3f3e3e;
  img{
    background-color: #3f3e3e;
  }
  a{
    display:block;
    height:100%;
  }
  .photo__article{
    right: 16px;
    top: 54px;
  }
}
@media screen and (min-width: 660px) {
  .photo {
    .photo__title {
      padding: 90px 50px 75px 50px;
      font-size: 18px;
      line-height: 32px;
    }
  }
  .photo__img {
    width:100%;
    height:300px;
  }
  .photo__img--pan {
    width:100%;
    height:509px;
    img{
      height:510px;
    }
  }
  .photo__wrapper{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
  }

  .photo__desc{
    padding: 10px 30px;
    padding-bottom: 25px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:baseline;
    .photo__autor{
      order:1;
    }
    .photo__like-row{
      order:2;
      display:flex;
      flex-direction: row-reverse;
    }
    .photo__like-link{
      padding-right:15px;
    }
    .photo__comment{
      order:3;
    }
  }
  .photo__card{
    margin-bottom: 20px;
  }
  .photo__desc--pan{
    width:620px;
    padding: 10px 30px;
    padding-bottom:23px;
    .photo__comment{
      margin-top:-6px;
    }
  }
  .photo__wrapper--pan{
    margin-bottom:21px;
    .photo__card{
      margin-bottom: 28px;
    }
  }
  .card__wrapper{
    padding:24px 0 5px 0;
  }
  .photo__comment{
    height:48px;
  }
  .photo__like-row{
    flex-direction:row-reverse;
    justify-content:flex-start;
    .photo__like-link{
      margin:0;
      margin-right:auto;
    }
  }
  .photo__title-second{
    margin:0;
    font-size:20px;
    padding-top: 44px;
    line-height: 30px;
    padding-bottom: 69px;
  }
  .photo__article{
    right: 126px;
    top: 56px;
  }
}
@media screen and (min-width:1024px) {
  .photo{
    .photo__title{
      padding: 90px 0 85px 0;
      width: 50%;
      font-size: 18px;
      margin: auto;
    }
  }
  .photo__wrapper{
    width:940px;
  }
  .photo__img{
    width:100%;
    height:400px;
    background:#f2f2f2;
    img{
      height:400px;
    }
  }
  .photo__img--pan{
    width:100%;
    height:507px;
    img{
      height:507px;
    }
  }
  .photo__wrapper{
    justify-content:space-between;
  }
  .photo__card{
    width:300px;
    margin-bottom:53px;
  }
  .photo__title-second{
    font-size:18px;
    line-height:26px;
    width:100%;
    padding-top:10px;
  }
  .photo__wrapper--pan{
    width:100%;
    .photo__desc{
      padding:0 30px;
      padding-top:15px;
      background-color:#f2f2f2;
    }
    .photo__comment{
      margin-top:-9px;
    }
  }
  .photo__desc--pan{
    width:940px;
  }
  .photo__article{
    right: 126px;
    top: 56px;
  }
}
