.publixs__wrapper {
  @include wrapper;
  padding: 30px 0;
}
.publish__option {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.publish__button {
  order: 2;
  font-size: 18px;
  font-family: "opsbold";
  color: $pinkcolor;
  display: block;
  text-align: center;
  border: 2px solid $pinkcolor;
  box-sizing:border-box;
  border-radius: 25px;
  padding: 0 20px;
  width: 280px;
  height: 50px;
  line-height: 44px;
  &:hover{
    background-color: $pinkcolor;
  }
  &:active{
    color:rgba(255, 255, 255, 0.5);
  }
}
.publish__button-cancel{
  color:rgb(221, 223, 224);
  border-color:rgb(221, 223, 224);
  &:hover{
    color:rgb(181, 185, 190);
    border-color:rgb(181, 185, 190);
    background-color: transparent;
  }
  &:active {
    color:rgb(203, 206, 210);
    background-color:rgb(181, 185, 190);
  }
}
.option__row{
  .publish__runner{
    display:none;
  }
}
.publish__runner {
  -webkit-appearance: none;
  order: 1;
  display: block;
  height:3px;
  flex-grow: 1;
  width: 100%;
  margin: 20px 0 30px;
  position: relative;
  background-color: $deepblue;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 2px solid $pinkcolor;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    cursor: pointer;
    &:active{
      background-color: $pinkcolor;
    }
  }
}
.publish__img {
  min-width: 280px;
  min-height: 375px;

}
.option__wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.buttons__wrapper {
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.publish__item{
  cursor:pointer;
  fill:rgb(181, 185, 190);
  &:hover{
    fill:rgb(141, 148, 155);
  }
  &:active{
    fill: $pinkcolor;
  }
}
@media screen and (min-width: 660px) {
  .publish {
    background-color: rgb(242, 242, 242);
  }
  .publixs__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .publish__option {
    padding: 0;
    min-width: 300px;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
  }
  .publish__runner {
    order: 0;
    width: 200px;
    align-self: center;
    flex-grow:0;
  }
  .publish__button {
    margin: 0;
    margin-top: auto;
    width: 260px;
  }
  .option__wrapper {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    .publish__item {
      display:inline-block;
      font-size:0;
      line-height:0;
      vertical-align:middle;
    }
    >.publish__runner{
      display:none;
    }
  }
  .publish__img {
    min-width: 300px;
    min-height: 400px;
  }
  .option__row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid #dddfe0;
    padding:10px 0;
    .publish__runner{
      display:block;
    }
  }
  .links {
    padding: 30px 0;
  }
}
@media screen and (min-width: 1024px) {
  .publish {
    background-color: transparent;
  }
  .publish__button {
    width: 180px;
  }
  .publixs__wrapper {
    background-color: rgb(242, 242, 242);
    justify-content: space-evenly;
  }
  .publish__option {
    padding: 0;
    max-width: 410px;
    flex-direction: column;
    justify-content: space-between;
  }
  .publish__runner {
    width: 290px;
    margin: auto 25px;
  }
  .buttons__wrapper {
    min-height: inherit;
    min-width: 410px;
    flex-direction: row;
    justify-content: space-between;
  }
  .links{
    padding: 90px 0;
  }
}
