.publixs__wrapper {
  width: 280px;
  margin: auto;
  padding: 30px 0;
}
.publish__option {
  padding: 30px;
  // width: 260px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.publish__button {
  order: 2;
  font-size: 18px;
  font-family: "opsbold";
  color: $pinkcolor;
  display: block;
  text-align: center;
  border: 2px solid $pinkcolor;
  border-radius: 25px;
  padding: 10px 0;
  margin: 5px;
  min-width: 280px;
}
.publish__runner {
  order: 1;
  display: block;
  border-bottom: 2px solid #000000;
  flex-grow: 1;
  width: 100%;
  margin: 20px 0 30px;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height:10px;
    border: 2px solid $pinkcolor;
    border-radius: 50%;
    bottom: -8px;
    left: 75%;
    background-color: rgb(255, 255, 255);
  }

}
@media screen and (min-width: 768px) {
  .publixs__wrapper {
    width: 660px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .publish__option {
    padding: 0;
    max-width: 320px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
  }
  .publish__runner {
    order: 0;
    max-width: 250px;
    flex-grow: 1;
    align-self: center;
  }
  .publish__button {
    margin-top: auto;
    min-width: 140px;
  }
}
@media screen and (min-width: 1024px) {
  .publish__button {
    margin-top: auto;
    min-width: 180px;
  }
  .publixs__wrapper {
    justify-content: space-around;
    width: 940px;
    .publish__button:nth-child(1) {
      //margin-left: auto;
    }
  }
  .publish__option {
    padding: 0;
    max-width: 400px;
  }
  .publish__runner {
    min-width: 280px;
    margin: auto 25px;
  }
}
