.rewiews {
  padding: 25px 0;
  background: rgb(255, 255, 255);
}
.rewiews__wrapper {
  @include wrapper;
  text-align: center;
}
.rewiews__list{
  margin:0;
  padding:0;
  font-family:$font-base;
}
.rewiews__title {
  display: none;
}
.rewiews__item-name {
  color: rgb(0, 0, 0);
  margin: 20px 0;
  font-family: $font-base;
  font-weight:700;
  .rewiews__item-info{
    display:none;
  }
}
.rewiews__item-text {
  color: $deepblue;
  font-size: 14px;
  font-family: $font-base;
  font-weight:400;
  line-height: 30px;
}
.rewiews__item-user {
  display: none;
}
.rewiews__toggles {
  padding: 20px 0;
}
.slider__item--hide{
  display:none;
}
.slider__toggle {
  background: transparent;
  border: none;
  position: relative;
  line-height: 13px;
  height: 10px;
}
.slider__toggle--sleep {
  &:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #c4c7cc;
  }
  &:hover{
    &:before{
    background-color:#7e868f;
    }
  }
}
.slider__toggle--active {
  &:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border: 3px solid $deepblue;
    border-radius: 50%;
  }
}
.slider__toggle-next ,.slider__toggle-prev {
  display:none;
}
@media screen and (min-width: 660px) {
  .rewiews {
    padding: 50px 0 0 0;
  }
  .rewiews__item {
    display: flex;
    flex-direction: column-reverse;
  }
  .rewiews__item-text {
    font-size: 18px;
  }
  .hide{
    display:none;
  }
  .rewiews__item-name{
    .rewiews__item-info{
      display:inherit;
      color:lighten($deepblue, 15%);
      font-size:14px;
      font-family:$font-base;
      font-weight:400;
    }
  }
  .slider__item--hide{
    display:none;
  }
}
@media screen and (min-width: 1024px) {
  .rewiews {
    position:relative;
    padding: 200px 0;
    clip-path: polygon(0 0, 100vw 0, 100vw 80%, 0 100%);
    &:after{
      content:url("../img/icon-quotes.svg");
      display:block;
      position:absolute;
      fill:#000000;
      width: 100px;
      height: 100px;
      left:50%;
      top:75px;
      transform: translate(-50%, 0);
    }
  }
  .rewiews__wrapper {
    position: relative;
  }
  .rewiews__item-name {
    font-size: 24px;
  }
  .rewiews__item-text {
    font-size: 18px;
  }
  .rewiews__item-user {
    display: block;
    color: $deepblue;
    font-family: "ops";
    font-size: 18px;
  }
  .rewiews__list {
    width:820px;
    margin:auto;
  }
  .slider__toggle {
    display: none;
  }
  .slider__toggle-next ,.slider__toggle-prev {
    display: block;
    border: none;
    background: transparent;
    min-height: 25px;
    cursor: pointer;
    &:hover{
      &:after,&:before{
        background-color: lighten($deepblue, 30%);
      }
    }
    &:active{
      &:after,&:before{
    background-color: lighten($deepblue, 70%);
      }
    }
  }
  .slider__toggle-prev {
    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background: lighten($deepblue, 50%);
      transform: rotate(45deg);
    }
    &:before {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background: lighten($deepblue, 50%);
      transform: rotate(-45deg);
      position: absolute;
      top:18px;
    }
  }
  .slider__toggle-next {
    float: right;
    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background: lighten($deepblue, 50%);
      transform: rotate(45deg);
      position: absolute;
      top: 18px;
    }
    &:before {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background: lighten($deepblue, 50%);
      transform: rotate(-45deg);
    }
  }
  .rewiews__toggles {
    position: absolute;
    width: 960px;
    top:25%;
  }
  .hide{
    display:none;
  }
}
