.tarifs__wrapper {
  width: 100%;
  overflow: hidden;
  margin: auto;
  text-align: center;
}
.tarifs {
  padding: 88px 0 45px 0;
  background-image:url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.tarifs__title {
  display: none;
}
.tarifs__table {
  width: 840px;
  position: relative;
  left: calc(100vw / 2 - 420px);
}
.table__head {
  width: 300px;
  padding: 18px 0;
  position: relative;
  .table__price {
    font-size: 24px;
    font-family: $font-base;
    font-weight:300;
  }
  div {
    position: absolute;
    top: 0;
  }
}
.table__title {
  margin:0;
  color: rgb(255, 255, 255);
  font-family: $font-base;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.table__row--middle {
  background: #ffffff;
}
.table__hit-text {
  display: block;
  transform: rotate(-45deg);
  position: absolute;
  font-size:18px;
  padding: 8px;
  top: 5px;
  font-family: $font-base;
  font-weight:300;
}
.table__pic {
  width: 300px;
  text-align: left;
}
.table__head {
  background: $deepblue;
  text-align: center;
}
.table__name {
  display: none;
}
.table__pic {
  position: relative;
  .table__function-out,.table__function-in{
    display: inline-block;
    position: absolute;
    right: 17px;
    top: 15px;
  }
}
.table__name-min {
  padding: 16px 21px;
  color: $deepblue;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: $font-base;
}
.tarifs__toggles {
  margin:0;
  padding: 31px 0 0 0;
}
.tarifs__toggle {
  background: transparent;
  border: none;
  position: relative;
  line-height: 13px;
  height: 10px;
}
.tarifs__toggle--sleep {
  &::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #c4c7cc;
  }
}
.tarifs__toggle--active {
  &::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border: 3px solid $deepblue;
    border-radius: 50%;
  }
}
.table__function-in {
  fill: #3dc644;
}
.table__function-out {
  fill: #f25b26;
}
@media screen and (min-width: 660px) {
  .tarifs {
    background-color: rgb(242, 242, 242);
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    padding:75px 0 60px 0;
  }
  .table__name {
    display: table-cell;
    width: 155px;
    color: $deepblue;
    text-align: left;
    vertical-align: middle;
    font-family: "opslight";
  }
  .table__name-text{
    padding-left: 15px;
    font-family:$font-base;
    font-weight:300;
  }
  .tarifs__table {
    width: auto;
    left: inherit;
    margin: auto;
  }
  .tarifs__wrapper {
    width: 660px;
  }
  .table__head {
    width: 155px;
    padding: 10px 0;
  }
  .table__pic {
    text-align: center;
    width: 155px;
  }
  .table__name-min {
    display: none;
  }
  .table__pic{
    .table__function-in,.table__function-out{
    position: initial;
    padding: 5px 0;
    }
  }
  .tarifs__toggles {
    display: none;
  }
  .table__title{
    margin:5px 0;
    font-size:16px;
  }
  .table__head {
    .table__price{
      font-size:18px;
    }
  }
  .table__hit{
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: url(../img/bg-hit-tablet.svg);
    background-repeat: no-repeat;
  }
  .table__hit-text{
    padding:4px;
    background:none;
  }
}
@media screen and (min-width: 1024px){
  .tarifs {
    padding: 90px 0;
  }
  .tarifs__wrapper {
    width: 940px;
  }
  .table__head {
    width: 210px;
  }
  .table__pic {
    width: 210px;
  }
  .table__name {
    width: 210px;
  }
}
