.upload {
  background: $deepblue;
  padding: 35px 0;
}
.upload__wrapper {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}
.upload__title {
  display: none;
}
.upload__button {
  font-family: 'opsbold';
  width: 275px;
  padding: 15px 0;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 30px;
  display: block;
  margin: 0 auto;
}
.upload__list {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.upload__text {
  font-family: 'opslight';
  font-size: 14px;
}
@media screen and (min-width: 660px ) {
  .upload__title {
    display: block;
    font-family: 'opslight';
    font-size: 40px;
    padding: 20px 50px;
    line-height: 45px;
  }
  .upload {
    position: absolute;
    top: 115px;
    left: 20px;
    background: transparent;
    padding:0;
  }
  .upload__wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 460px;
  }
  .upload {
    left: calc((100vw - 620px) / 2);
    top: 150px;
  }
  .upload__button{
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .upload__wrapper {
    min-height: 650px;
  }
  .upload__title {
    font-size: 50px;
    padding: 20px 20px;
    line-height: 60px;
  }
  .upload {
    left: calc((100vw - 960px) / 2);
    top: 170px;
  }
  .upload__list {
    margin-top: 0;
  }
}
