.upload{
  background: $deepblue;
  padding: 35px 0;
}
.upload__wrapper{
  width: 320px;
  margin: 0 auto;
  text-align: center;
}
.upload__title{
  display: none;
}
.upload__button{
  font-family: 'opsbold';
  width: 275px;
  padding: 15px 0;
  border: 3px solid #fff;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
}
.upload__list{
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.upload__text{
  font-family: 'opslight'
}
@media screen and (min-width: 768px ) {
  .header__phone-pic{
  }
  .upload__title{
    display: block;
    font-family: 'opslight';
    font-size: 43px;
    padding: 20px 50px;
    line-height: 45px;
  }
  .upload {
    position: absolute;
    top: 115px;
    left: 20px;
    background: transparent;
    padding:0;
  }
  .upload{
    left: calc((100vw - 620px) / 2);
  }
}
@media screen and (min-width: 1024px ) {
  .upload__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    justify-content: space-around;
  }
  .upload__title {
    font-size: 50px;
    padding: 20px 20px;
  }
  .upload {
    left: calc((100vw - 960px) / 2);
  }
}
